{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>{{titulo}}</title>

    <link
      rel="icon"
      href="{% static 'img/favicon.ico' %}"
    />
    
    <link rel="stylesheet" href="{% static 'css/darck.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'libs/bootstrap-5.3.1/css/bootstrap.min.css' %}"
    />
    {% block head %} {% endblock head %}
  </head>
  <body>
    <button type="button" id="toggleButton">Cambiar a modo oscuro</button>

    {% block content %} {% endblock content %}
    <!-- Scripts -->
    <script src="{% static 'libs/bootstrap-5.3.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-5.3.1/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/darck.js' %}"></script>
    {% block javascript %} {% endblock javascript %}
  </body>
</html>
